body{
	background-color: #f24d4d;
	text-align: center;
}

h1{
	font-size: 55px;
	text-align: center;
}

input.number{
	width: 60px;
	height: 30px;
	margin: 2px;
}

#clear{
	background-color: red;
	height: 30px;
	width: 75px;
	margin: 1px;
}
#equals{
	background-color: #b5ab70;
	height: 30px;
	width: 64px;
}